footer{
    background:#242c36;
    padding:60px 0 0 0;
    color:#fff;
    
    }
    .copy-right{
    background:rgba(10,10,10,0.2);
    color: #fff;
    padding:12px 0;
    text-align:center;
    margin-top:50px;
    }

    footer h4{
    color:rgba(255,255,255,0.7);
    text-transform:uppercase;
    font-size:20px;
    font-weight:400;
    }
    footer ul{
    margin:0;
    padding:0;
    }
    footer ul li{
    list-style:none;
    }
  

  