.Nav{
    display:flex;
    flex-direction: row;
    /* width: 100%; */
    background-color: rgb(127, 127, 216);
    color: #fff;
}

.Nav h2{
    margin-left: 50px;
}
.Nav ul{
    list-style: none;
    padding: 8px 50px 0 500px; 
    justify-content: space-around;
}

.Nav ul li{
    margin-left: 10px;
    display: inline-block;
    padding: 5px 10px;
    cursor:pointer;
    font-size: 1.1rem;
}

li:hover{
    background-color: #fff;
    color:blue;
}


